In [3]:
import pandas as pd
datos = pd.read_csv('players_21.csv')
df=pd.DataFrame(datos)
print("DataFrame Original")
print(df)

DataFrame Original
       sofifa_id                                         player_url  \
0         158023  https://sofifa.com/player/158023/lionel-messi/...
1          20801  https://sofifa.com/player/20801/c-ronaldo-dos-...
2         200389  https://sofifa.com/player/200389/jan-oblak/210002
3         188545  https://sofifa.com/player/188545/robert-lewand...
4         190871  https://sofifa.com/player/190871/neymar-da-sil...
...          ...                                                ...
18939     256679  https://sofifa.com/player/256679/kevin-angulo/...
18940     257710  https://sofifa.com/player/257710/mengxuan-zhan...
18941     250989  https://sofifa.com/player/250989/zhenghao-wang...
18942     257697  https://sofifa.com/player/257697/zitong-chen/2...
18943     257936   https://sofifa.com/player/257936/yue-song/210002

              short_name                            long_name  age  \
0               L. Messi       Lionel Andrés Messi Cuccittini   33
1      Cristiano Ronaldo  Cristiano Ronaldo dos Santos Aveiro   35
2               J. Oblak                            Jan Oblak   27
3         R. Lewandowski                   Robert Lewandowski   31
4              Neymar Jr        Neymar da Silva Santos Júnior   28
...                  ...                                  ...  ...
18939          K. Angulo                         Kevin Angulo   24
18940     Zhang Mengxuan                       Mengxuan Zhang   21
18941      Wang Zhenghao                                  王政豪   20
18942        Chen Zitong                          Zitong Chen   23
18943           Song Yue                             Yue Song   28

              dob  height_cm  weight_kg nationality  \
0      1987-06-24        170         72   Argentina
1      1985-02-05        187         83    Portugal
2      1993-01-07        188         87    Slovenia
3      1988-08-21        184         80      Poland
4      1992-02-05        175         68      Brazil
...           ...        ...        ...         ...
18939  1996-04-13        176         73    Colombia
18940  1999-04-26        177         70    China PR
18941  2000-06-28        185         74    China PR
18942  1997-02-20        186         80    China PR
18943  1991-11-20        185         79    China PR

                                 club_name  ...   lwb   ldm   cdm   rdm   rwb  \
0                             FC Barcelona  ...  66+3  65+3  65+3  65+3  66+3
1                                 Juventus  ...  65+3  61+3  61+3  61+3  65+3
2                          Atlético Madrid  ...  32+3  36+3  36+3  36+3  32+3
3                        FC Bayern München  ...  64+3  65+3  65+3  65+3  64+3
4                      Paris Saint-Germain  ...  67+3  62+3  62+3  62+3  67+3
...                                    ...  ...   ...   ...   ...   ...   ...
18939                      América de Cali  ...  47+2  47+2  47+2  47+2  47+2
18940  Chongqing Dangdai Lifan FC SWM Team  ...  42+2  41+2  41+2  41+2  42+2
18941                      Tianjin TEDA FC  ...  42+2  42+2  42+2  42+2  42+2
18942        Shijiazhuang Ever Bright F.C.  ...  47+2  49+2  49+2  49+2  47+2
18943                      Tianjin TEDA FC  ...  47+0  47+0  47+0  47+0  47+0

         lb   lcb    cb   rcb    rb
0      62+3  52+3  52+3  52+3  62+3
1      61+3  54+3  54+3  54+3  61+3
2      32+3  33+3  33+3  33+3  32+3
3      61+3  60+3  60+3  60+3  61+3
4      62+3  49+3  49+3  49+3  62+3
...     ...   ...   ...   ...   ...
18939  47+2  46+2  46+2  46+2  47+2
18940  45+2  47+2  47+2  47+2  45+2
18941  44+2  47+2  47+2  47+2  44+2
18942  47+2  49+2  49+2  49+2  47+2
18943  47+0  46+1  46+1  46+1  47+0

[18944 rows x 106 columns]

In [4]:
df= df.withColumn(rank_by_nationality_position.getName(),row_number().over(Window.partitionBy(nationality.column()).orderBy(overall .column().desc())));

AttributeError: 'DataFrame' object has no attribute 'withColumn'

In [7]:
import pyspark
from pyspark.sql import SparkSession
import pandas as pd

spark = SparkSession.builder.appName('pandasToSparkDF').getOrCreate()
datos = spark.read.csv('players_21.csv')
df = spark.createDataFrame(datos)

TypeError: data is already a DataFrame

In [8]:
 df=df.withColumn(rank_by_nationality_position.getName(),row_number().over(Window.partitionBy(nationality.column()).orderBy(overall .column().desc())));

AttributeError: 'DataFrame' object has no attribute 'withColumn'

In [10]:
df = pd.withColumn(age_range.getName(), when(df.columns(age.column()) < 23,"A")
                .when(df.columns(age.column()) < 27,"B")
                .when(df.columns(age.column()) < 32,"C")
                .when(df.columns(age.column()) >= 32,"D")
                .otherwise("E"));

AttributeError: module 'pandas' has no attribute 'withColumn'

In [15]:
import pandas as pd
datos = pd.read_csv('players_21.csv')
df=pd.DataFrame(datos)
print("DataFrame Original")
print(df)

DataFrame Original
       sofifa_id                                         player_url  \
0         158023  https://sofifa.com/player/158023/lionel-messi/...
1          20801  https://sofifa.com/player/20801/c-ronaldo-dos-...
2         200389  https://sofifa.com/player/200389/jan-oblak/210002
3         188545  https://sofifa.com/player/188545/robert-lewand...
4         190871  https://sofifa.com/player/190871/neymar-da-sil...
...          ...                                                ...
18939     256679  https://sofifa.com/player/256679/kevin-angulo/...
18940     257710  https://sofifa.com/player/257710/mengxuan-zhan...
18941     250989  https://sofifa.com/player/250989/zhenghao-wang...
18942     257697  https://sofifa.com/player/257697/zitong-chen/2...
18943     257936   https://sofifa.com/player/257936/yue-song/210002

              short_name                            long_name  age  \
0               L. Messi       Lionel Andrés Messi Cuccittini   33
1      Cristiano Ronaldo  Cristiano Ronaldo dos Santos Aveiro   35
2               J. Oblak                            Jan Oblak   27
3         R. Lewandowski                   Robert Lewandowski   31
4              Neymar Jr        Neymar da Silva Santos Júnior   28
...                  ...                                  ...  ...
18939          K. Angulo                         Kevin Angulo   24
18940     Zhang Mengxuan                       Mengxuan Zhang   21
18941      Wang Zhenghao                                  王政豪   20
18942        Chen Zitong                          Zitong Chen   23
18943           Song Yue                             Yue Song   28

              dob  height_cm  weight_kg nationality  \
0      1987-06-24        170         72   Argentina
1      1985-02-05        187         83    Portugal
2      1993-01-07        188         87    Slovenia
3      1988-08-21        184         80      Poland
4      1992-02-05        175         68      Brazil
...           ...        ...        ...         ...
18939  1996-04-13        176         73    Colombia
18940  1999-04-26        177         70    China PR
18941  2000-06-28        185         74    China PR
18942  1997-02-20        186         80    China PR
18943  1991-11-20        185         79    China PR

                                 club_name  ...   lwb   ldm   cdm   rdm   rwb  \
0                             FC Barcelona  ...  66+3  65+3  65+3  65+3  66+3
1                                 Juventus  ...  65+3  61+3  61+3  61+3  65+3
2                          Atlético Madrid  ...  32+3  36+3  36+3  36+3  32+3
3                        FC Bayern München  ...  64+3  65+3  65+3  65+3  64+3
4                      Paris Saint-Germain  ...  67+3  62+3  62+3  62+3  67+3
...                                    ...  ...   ...   ...   ...   ...   ...
18939                      América de Cali  ...  47+2  47+2  47+2  47+2  47+2
18940  Chongqing Dangdai Lifan FC SWM Team  ...  42+2  41+2  41+2  41+2  42+2
18941                      Tianjin TEDA FC  ...  42+2  42+2  42+2  42+2  42+2
18942        Shijiazhuang Ever Bright F.C.  ...  47+2  49+2  49+2  49+2  47+2
18943                      Tianjin TEDA FC  ...  47+0  47+0  47+0  47+0  47+0

         lb   lcb    cb   rcb    rb
0      62+3  52+3  52+3  52+3  62+3
1      61+3  54+3  54+3  54+3  61+3
2      32+3  33+3  33+3  33+3  32+3
3      61+3  60+3  60+3  60+3  61+3
4      62+3  49+3  49+3  49+3  62+3
...     ...   ...   ...   ...   ...
18939  47+2  46+2  46+2  46+2  47+2
18940  45+2  47+2  47+2  47+2  45+2
18941  44+2  47+2  47+2  47+2  44+2
18942  47+2  49+2  49+2  49+2  47+2
18943  47+0  46+1  46+1  46+1  47+0

[18944 rows x 106 columns]

NameError: name 'short_name' is not defined

In [17]:

df.loc('short_name', when('age' > 3, 1).otherwise(0)).show()

NameError: name 'when' is not defined