In [72]:
import pandas as pd
import numpy as np

In [69]:
datos=pd.read_csv('players_21.csv')

In [70]:
df=pd.DataFrame(datos)

In [71]:
df

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club_name,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,33,1987-06-24,170,72,Argentina,FC Barcelona,...,66+3,65+3,65+3,65+3,66+3,62+3,52+3,52+3,52+3,62+3
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,35,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,54+3,54+3,54+3,61+3
2,200389,https://sofifa.com/player/200389/jan-oblak/210002,J. Oblak,Jan Oblak,27,1993-01-07,188,87,Slovenia,Atlético Madrid,...,32+3,36+3,36+3,36+3,32+3,32+3,33+3,33+3,33+3,32+3
3,188545,https://sofifa.com/player/188545/robert-lewand...,R. Lewandowski,Robert Lewandowski,31,1988-08-21,184,80,Poland,FC Bayern München,...,64+3,65+3,65+3,65+3,64+3,61+3,60+3,60+3,60+3,61+3
4,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Júnior,28,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,67+3,62+3,62+3,62+3,67+3,62+3,49+3,49+3,49+3,62+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18939,256679,https://sofifa.com/player/256679/kevin-angulo/...,K. Angulo,Kevin Angulo,24,1996-04-13,176,73,Colombia,América de Cali,...,47+2,47+2,47+2,47+2,47+2,47+2,46+2,46+2,46+2,47+2
18940,257710,https://sofifa.com/player/257710/mengxuan-zhan...,Zhang Mengxuan,Mengxuan Zhang,21,1999-04-26,177,70,China PR,Chongqing Dangdai Lifan FC SWM Team,...,42+2,41+2,41+2,41+2,42+2,45+2,47+2,47+2,47+2,45+2
18941,250989,https://sofifa.com/player/250989/zhenghao-wang...,Wang Zhenghao,王政豪,20,2000-06-28,185,74,China PR,Tianjin TEDA FC,...,42+2,42+2,42+2,42+2,42+2,44+2,47+2,47+2,47+2,44+2
18942,257697,https://sofifa.com/player/257697/zitong-chen/2...,Chen Zitong,Zitong Chen,23,1997-02-20,186,80,China PR,Shijiazhuang Ever Bright F.C.,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
18943,257936,https://sofifa.com/player/257936/yue-song/210002,Song Yue,Yue Song,28,1991-11-20,185,79,China PR,Tianjin TEDA FC,...,47+0,47+0,47+0,47+0,47+0,47+0,46+1,46+1,46+1,47+0

In [80]:
potencial=df['potential']

In [81]:
df[potencial]

KeyError: "None of [Int64Index([93, 92, 93, 91, 91, 91, 95, 93, 91, 91,\n            ...\n            57, 55, 55, 53, 53, 52, 52, 51, 51, 47],\n           dtype='int64', length=18944)] are in the [columns]"

In [94]:
 df=pd.read_csv('players_21.csv', sep=',', usecols=("short_name",
                                        "long_name",
                                        "age",
                                        "height_cm",
                                        "weight_kg",
                                        "nationality",
                                        "potential",
                                        "overall",          
                                        "club_name"))

In [95]:
df

,short_name,long_name,age,height_cm,weight_kg,nationality,club_name,overall,potential
0,L. Messi,Lionel Andrés Messi Cuccittini,33,170,72,Argentina,FC Barcelona,93,93
1,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,35,187,83,Portugal,Juventus,92,92
2,J. Oblak,Jan Oblak,27,188,87,Slovenia,Atlético Madrid,91,93
3,R. Lewandowski,Robert Lewandowski,31,184,80,Poland,FC Bayern München,91,91
4,Neymar Jr,Neymar da Silva Santos Júnior,28,175,68,Brazil,Paris Saint-Germain,91,91
...,...,...,...,...,...,...,...,...,...
18939,K. Angulo,Kevin Angulo,24,176,73,Colombia,América de Cali,47,52
18940,Zhang Mengxuan,Mengxuan Zhang,21,177,70,China PR,Chongqing Dangdai Lifan FC SWM Team,47,52
18941,Wang Zhenghao,王政豪,20,185,74,China PR,Tianjin TEDA FC,47,51
18942,Chen Zitong,Zitong Chen,23,186,80,China PR,Shijiazhuang Ever Bright F.C.,47,51
18943,Song Yue,Yue Song,28,185,79,China PR,Tianjin TEDA FC,47,47

In [100]:
df['age_range']='A'

In [101]:
df

,short_name,long_name,age,height_cm,weight_kg,nationality,club_name,overall,potential,age_range
0,L. Messi,Lionel Andrés Messi Cuccittini,33,170,72,Argentina,FC Barcelona,93,93,A
1,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,35,187,83,Portugal,Juventus,92,92,A
2,J. Oblak,Jan Oblak,27,188,87,Slovenia,Atlético Madrid,91,93,A
3,R. Lewandowski,Robert Lewandowski,31,184,80,Poland,FC Bayern München,91,91,A
4,Neymar Jr,Neymar da Silva Santos Júnior,28,175,68,Brazil,Paris Saint-Germain,91,91,A
...,...,...,...,...,...,...,...,...,...,...
18939,K. Angulo,Kevin Angulo,24,176,73,Colombia,América de Cali,47,52,A
18940,Zhang Mengxuan,Mengxuan Zhang,21,177,70,China PR,Chongqing Dangdai Lifan FC SWM Team,47,52,A
18941,Wang Zhenghao,王政豪,20,185,74,China PR,Tianjin TEDA FC,47,51,A
18942,Chen Zitong,Zitong Chen,23,186,80,China PR,Shijiazhuang Ever Bright F.C.,47,51,A
18943,Song Yue,Yue Song,28,185,79,China PR,Tianjin TEDA FC,47,47,A

In [99]:
df['potential_vs_overall'][df['potential'].sum()

SyntaxError: unexpected EOF while parsing (2440770581.py, line 1)

In [106]:
df['age_range']=expr("case when age = 27 then 'Male' " +
                       "else 'Unknown' end")

NameError: name 'expr' is not defined

In [114]:
df['age_range']= when('age') == 27 , 'A'

TypeError: when() missing 1 required positional argument: 'value'

In [118]:
df['age_range']= df.select(when(df['age'] == 27, 'A').otherwise('B')

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (1612520927.py, line 1)